* {
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1511300636408-a63a89df3482?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  color: #ccc;
}
table, th, td {
  border: 1px solid black;
}
.img {
  animation: rotate 3s reverse;
}
.name {
  box-shadow: 5px 5px 10px;
  animation: scale 4s;
  width: 280px;
  border-radius: 10px;
  padding-left: 10px;
}
@keyframes scale {
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}
@keyframes rotate {
   from {
     transform: rotate(0deg);
   } 
   to {
     transform: rotate(180deg);
   }
}